* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: #1e1e2e; /* base */
	color: #cdd6f4;     /* text */
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #11111b; /* crust */
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #1e1e2e; /* base */
	background: #11111b; /* crust */
}

#workspaces,
#language,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #11111b; /* crust */
}

#workspaces button {
	padding: 0 2px;
	border-radius: 0px; /* make it squared */
	margin: 0 0;
	color: #cdd6f4; /* text */
}

/* For both hyprland & sway */
#workspaces button.focused,
#workspaces button.active {
	background: #89b4fa; /* blue */
	color: #11111b; /* crust */
	padding: 0 6px; /* add more horizontal padding */
}
#workspaces button:hover {
	background: #f38ba8; /* red */
}
#workspaces button.focused:hover,
#workspaces button.active:hover {
	background: #cba6f7; /* mauve accent */
}

#pulseaudio {
	color: #89b4fa; /* blue */
}
#memory {
	color: #94e2d5; /* teal */
}
#cpu {
	color: #cba6f7; /* mauve */
}
#battery {
	color: #a6e3a1; /* green */
}
#disk {
	color: #f9e2af; /* yellow */
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
